.header__wrapper {
  padding: 20px 26px 20px 28px;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.card__profile img:nth-child(even) {
  padding-left: 16px;
}

h1 {
  padding-left: 25px;
  font-size: 24px;
}

.border {
  height: 1px;
  background: rgba(0, 0, 0, 0.10);
}

.header__nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 44px;
  padding-top: 20px;
}

.header__nav a {
  color: #726E8D;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}