* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.main__container {
  display: flex;
  padding: 60px 80px 60px 80px;
}

.main__section {
  background: var(--Dark-Primary, #2A254B);
  padding: 60px 0 0 60px;
}

.main__title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
}

.main__title h2 {
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: white;
}

.main__title button {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background: rgba(249, 249, 249, 0.15);
  padding: 0;
  border: none;
  font: inherit;
  color: white;
  cursor: pointer;
}

.main__title button span {
  padding: 16px 32px;
}

.main__img img {
  width: 520px;
  height: 584px;
  background-size: cover no-repeat;
}

.main__text p {
  color: var(--White, #FFF);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-top: 196px;
  margin-right: 90px;
}

.different__container {
  padding: 60px 110px 86px 86px;
}

.diff__adv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diff_adv-title h3 {
  color: var(--Dark-Primary, #2A254B);
  font-family: Clash Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}

.diff__adv-sections {
  display: flex;
  padding-top: 51px;
  column-gap: 68px;
}

.diff__advs {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
} 

.diff__advs:nth-last-child(1) {
  padding-left: 20px;
}

.diff__advs h4 {
  color: var(--Dark-Primary, #2A254B);
  font-family: Clash Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.diff__advs p {
  color: var(--Dark-Primary, #2A254B);
/* Body/Medium */
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.listings__contaier {
  padding: 80px 80px 56px 80px;
}

.listings__contaier h3 {
  color: #2A254B;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 33px;
}

.listings__items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.listings__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.listings__item p {
  color: var(--Dark-Primary, #2A254B);
  /* Headings / H4 */
  font-family: Clash Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.listings__button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background: var(--Light-Grey, #F9F9F9);
  border: none;
  margin-top: 20px;
  color: #2A254B;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.products__container {
  padding: 64px 80px 44px 80px;
}

.products__container h3 {
  color: #2A254B;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
}

.products__items {
  display: flex;
  padding-top: 23px;
  gap: 20px;
}

.products__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.products__item p {
  color: var(--Dark-Primary, #2A254B);
  /* Headings / H4 */
  font-family: Clash Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.products__button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background: var(--Light-Grey, #F9F9F9);
  border: none;
  margin-top: 30px;
  color: #2A254B;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.email__container {
  background: var(--Light-Grey, #F9F9F9);
}

.email__wrapper {
  display: block;
  margin: 0 auto;
  background-color: white transparent;
  width: 1273px;
  padding: 52px 74px 65px 93px;
}

.email__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}


.email__item h1 {
  color: var(--Dark-Primary, #2A254B);
  text-align: center;
  font-family: Clash Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 50.4px */
}

.email__item p {
  color: var(--Dark-Primary, #2A254B);
  text-align: center;
  /* Body/Medium */
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.email__input button {
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  background: transparent;
  border: none;
  background: var(--Dark-Primary, #2A254B);
  color: var(--White, #FFF);
/* Body/Medium */
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.emails__input {
  background: var(--Light-Grey, #F9F9F9);
  height: 55px;
  width: 472px;
}